apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sfedorov-my-go-server
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: sfedorov-my-go-server
            port:
              number: 80